<%= form_for(@loft) do |f| %>
  <% if @loft.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loft.errors.count, "error") %> prohibited this loft from being saved:</h2>

      <ul>
      <% @loft.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :owner %><br />
    <%= f.text_field :owner %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


