<h1>Loft</h1>

<p><strong>Name: </strong><%= @loft.name %></p>
<p><strong>Contact: </strong><%= @loft.owner %></p>
<p><strong>Notes: </strong><%= @loft.notes %></p>

<%= link_to 'Edit', edit_loft_path %>
<%= link_to 'Back', @loft.club %>

